body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.hero,
.header,
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.header-links li,
.hero-desc {
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
}

.hero {
    display: flex;
    padding: 80px 200px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-desc {
    padding-bottom: 10px;
}

.hero-left,
.hero-right {
    flex: 1 1 auto;
}

.hero-right img {
    max-height: 350px;
}

button {
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 100px 0px;
}

.info-title {
    padding: 50px 0px;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.info-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.info-card {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 180px;
    flex-wrap: wrap;
}

.card-image {
    border: 4px #3882F6 solid;
    border-radius: 15px;
    height: 180px;
    width: 180px;
}

.info-card p {
    text-align: center;
    font-size: 18px;
    color: slategray;
}

.quote {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 120px 400px;
    background-color: #E5E7EB;
    color: #1F2937;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
}

.quote-author {
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}